{% extends 'base.html' %} {% block content %}
<div class="container">
<div class="in-app-nav">
    <a href="{% url 'catalog' %}">Home</a> > <a href="{% url 'orders' %}">Orders</a> > <span>My Order</span>
</div>
<h2 class="mt-5">Order #: {{order.stripe_checkout_id}}</h2>
<p>{{order.success_date}}</p>

<div class="mt-5 row-6">
        <ul class="collection  z-depth-4">
            {%for item in order.cartitems.all %}
            <li class="card collection-item avatar">
                <img src="{{item.product.image.url}}" class="img-thumbnail  circle  z-depth-2" alt="">
                <span class="title h3">{{item.product.name}}</span>
                <p>Quantity: {{item.quantity}} <br>
                Price: ${{item.price}}</p>
                <a href="#" class="secondary-content">leave review</a>
            </li>
            {% endfor %}
            
        </ul>
        <p class="card-title mt-5 h5">Order Total: ${{order.total}}</p>
</div>
</div>

{% endblock %}