body {
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;
    background-color: whitesmoke;
    text-decoration: none;
  }
  nav{
    /* background-color: rgba(245, 245, 245, 0.768);
    color: black; */
  }
  main {
    flex: 1 0 auto;
    min-height: 100vh;
  }
  
  footer.page-footer {
    padding-top: 0;
  }
  .no_underline {
    text-decoration: none;
  }

  .in-app-nav {
    color: #2c2c2c;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.0225rem;
    padding: 2rem 0 1.25rem;
  }
  .in-app-nav a {
    color: #2c2c2c;
  }
  .in-app-nav a:hover {
    color: #0057a0;
  }
  .in-app-nav span {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

.bgimg{
  background-image: url('https://i.ibb.co/vJGxcMS/what-is-charcoal-3-1024x1024.jpg');

}
