{% extends 'base.html' %}
{% block content %}

<h2>Cart</h2>
{% if cartitems %}
<table>
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Price</th>
    </thead>
    <tbody>
        {% for cartitem in cartitems %}
        <tr>
            <td>
                {{cartitem.product.name}}
            </td>
            <td><button>-</button> {{cartitem.quantity}} <button>+</button></td>
            <td>${{cartitem.product.price}}</td>
            <td>${{cartitem.price }}</td>
            <td><button>x</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <span>Grand Total: ${{cart.total}}</span>
    <button>Pay</button>
</div>
{% else %}

<p>No Items</p>

{% endif %}

{% endblock %}