{% extends 'base.html' %} {% block content %}

<section>
    <div class="product">
      <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
      <div class="description">
        <h3>Stubborn Attachments</h3>
        <h5>$20.00</h5>
      </div>
    </div>
    <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        <input hidden value="{{user.username}}" type="text" name="username">
        <input hidden value="{{cart.num_of_items}}" type="text" name="quantity">
        <input hidden value="{{cart.total}}" type="text" name="price">
        <button type="submit" id="checkout-button">Checkout</button>
    </form>
  </section>

{% endblock %}
<script>

</script>