{% extends 'base.html' %} {% block content %}
<div class="container">

{% if next %}
    <p class="warning">Please login to access this page.</p>
{% endif %}
<div class="my-5 container card z-depth-3">
  <div class="row m-4 ">
    
      <div class="col-md-3 d-flex amber-text text-darken-4 justify-content-center flex-column align-items-center">
        <h1 class="">Login</h1>
        <i class="large material-icons">person</i>
      </div>
      <div class="col-md-9 d-flex py-4 flex-column justify-content-between">
        <form class="" method="POST">
          {% csrf_token %} {{ form.as_p }}
          <input type="hidden" name="next" value="{{ next }}">
          <button class="btn blue-grey darken-4 white-text"  type="submit">Login</button>
        </form>
        
        <p class="">
          Don't have an account? <a class="no_underline amber-text text-darken-4" href="{% url 'signup' %}">Create an Account!</a>
        </p>
         
      </div>
  </div>
</div>
</div>
{% endblock %}
