{% extends 'base.html' %}
{% block content %}

<div class="card"> 
    <div class="card-content">
    
        <span class="card-title">{{product.name}}</span>
        <img class="card-image" src="{{product.image.url}}" alt="product">
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
        <p>{{product.quantity}} left!</p>
            <button data-product="{{product.id}}" data-action="add" class="btn" id="updateItem" type="submit" >ADD TO CART</button> 
     
    </div>

</div>
{% endblock %}