{% extends 'base.html' %}
{% block content %}

<h1 class="mt-5">Catalog</h1>

<div class="container mt-5">
    <div class="row">
        {% for product in catalog %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{product.image.url}}" alt="product">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">${{product.price}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <button data-product="{{product.id}}" data-action="add" id="updateItem" type="submit" class="btn btn-primary">ADD TO CART</button>
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-secondary">VIEW</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}