{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="parallax-container bgimg d-flex mt-5">
    
</div>
<div class="container">
<h1 class="mt-5">CATALOG</h1>

<div class="container mt-5">
    <div class="row">
        {% for product in catalog %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="z-depth-3 card mb-3">
                    <img class="card-img-top z-depth-2" src="{{product.image.url}}" alt="product">
                    <div class="card-body">
                        <h5 class="card-title ">{{product.name}}</h5>
                        <p class="card-text h5">${{product.price}} USD</p>
                    </div>
                    <div class="card-footer d-flex justify-content-around">
                        <button data-product="{{product.id}}" data-action="add" id="updateItem" type="submit" class="btn z-depth-3 white-text amber darken-2">ADD TO CART</button>
                        <a href="{% url 'product_detail' product.id %}" class="btn z-depth-3 btn-secondary">VIEW</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}